* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: #2b2b2b;
    background-color: #DFDCE3; 
}

#controls, h1, p {
        padding: 10px; 
        font-family: Verdana; 
        text-align: center; 
}

button {
    padding: 20px;
    font-family: Verdana; 
}
.game-tile {
    display: block;
    width:96px;
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 2px;
    border:2px solid #2b2b2b;
    border-radius: 10px;
    background-color: #eaeaea;
    position: absolute;
    transition-property: left, top;
    transition-duration: 100ms;
    transition-timing-function: linear;
}
#gameBoard {
    position: relative;
    width: 408px;
    background-color: #ccc;
    border:4px solid #2b2b2b;
    margin: 25px auto;
}
#gameBoard::after {
    display: table;
    content: '';
    clear: both;
}
#blankTile.game-tile {
    border:none;
    background:none;
}